body {
  margin: 0;
  padding: 0;
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  height: 60px;
  background: grey;
  line-height: 60px
}

.navbar .logo {
  vertical-align: middle;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.text-input {
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 2px;
  background: white;
  resize: none;
}

.number-input {
  font-weight: normal;
}

.label-text {
  margin-right: 15px;
}

.add-journal-btn {
  float: right;
}

.journal-list {
  list-style: none;
  margin: 0;
}