body {
  margin: 0;
  padding: 0;
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #e9ebee;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-bar {
  height: 60px;
  background: #486294;
  line-height: 60px;
  margin-bottom: 30px;
}

.nav-bar .logo {
  vertical-align: middle;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.text-input {
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 2px;
  background: white;
  resize: none;
}

.number-input {
  font-weight: normal;
}

.label-text {
  margin-right: 15px;
}

.add-journal-btn {
  float: right;
  background: #486294;
  color: white;
  font-weight: bold;
  border: 1px solid #6686c5;
}

.add-journal-btn:hover {
  background: #374b73;
  border: 1px solid #374b73;
  color: white;
}

.journal-list {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

.journal-list .list-item {
  padding: 15px;
  margin: 15px 0;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}






